<header role="banner"> 
    <nav role="navigation" ara-label="Menu principal">
        <ul class="menu">
            <div class="dropdown">
                <li>
                    <a class="droplist" href="/" aria-current="page">Accueil</a>
                </li>
            </div>
            <div class="dropdown">
                <li>
                    <a class="droplist" href="/connect"> Se connecter </a>
                </li>
            </div>
            <div class="dropdown">
                <li>
                    <a class="droplist" href="/register"> S'enregistrer</a>
                </li>
            </div>
        </ul>		
    </nav>
</header>