<!DOCTYPE hyml>
<html>
    <head>
        <meta charset="utf-8" />
        <title> fananf - My groups  </title>
        <link rel="stylesheet" href="/style/general.css">
		<link rel="stylesheet" href="/style/menu.css">	
    </head>
    <body>
            <header role="banner"> 
                    <nav role="navigation" ara-label="Menu principal">
                            <ul class="menu">
                                <div class="dropdown">
                                    <li>
                                        <a class="droplist" href="/home " aria-current="page">Acceuil</a>
                                    </li>
                                </div>
                                <div class="dropdown">
                                    <li>
                                        <a class="droplist" href="/transcriptions"> Mes transcriptions </a>
                                        <ul class="submenu" id="submenu">
                                            <li><a href="/transcriptions/new">Nouvelle transcription</a></li>
                                        </ul>
                                    </li>
                                </div>
                                <div class="dropdown">
                                        <li>
                                            <a class="droplist" href="/groups"> Mes groupes </a>
                                        </li>
                                    </div>
                                <div class="dropdown">
                                        <li>
                                            <a class="droplist" href="/users"> Les utilisateurs </a>
                                            <ul class="submenu" id="submenu">
                                                    <li><a href="/user">Mes infos</a></li>
                                                </ul>
                                        </li>
                                    </div>
                                <div class="dropdown">
                                    <li>
                                        <a class="droplist" href="/logout"> Se deconnecter</a>
                                    </li>
                                </div>
                            </ul>		
                        </nav>
            </header>
        <main>
            <label for="format">
                Choisissez le format des sous titres voulu : 
            </label> </br>
            <select>
                <option value="srt">Srt</option>
                <option value="vtt">webVtt</option>
                <option value="all">Tous</option>
            </select>
            </br>
            <form action="videoupload" method="post" enctype="multipart/form-data">
                <input type="file" name="videotoupload" accept="video/*"></br>
                <input type="submit"> </br> 
            </form>
        </main>
    </body>
</html>
