<!DOCTYPE hyml>
<html>
    <head>
        <meta charset="utf-8" />
        <title> fananf - Se connecter </title>
        <link rel="stylesheet" href="/stylesheet/general.css">
        <link rel="stylesheet" href="/stylesheet/menu.css">	
    </head>
    <body>
        <%- include('partials/headerDisconnected') %>
        <h1>Connexion : </h1>
        <form method="POST" action="/login-in">
            <label for="username">Login : </label>
            <input type="text" name="username" required=""/> </br>
            <label for="password">Mot de Passe: </label>
            <input type="password" name="password" required=""/> </br>
            <input type="submit" value="Se connecter"/>
        </form>
    </body>
    <%- include('partials/footer') %>
</html>
