<!DOCTYPE hyml>
<html>
    <head>
        <meta charset="utf-8" />
        <title> fananf - My groups  </title>
        <link rel="stylesheet" href="/stylesheet/general.css">
        <link rel="stylesheet" href="/stylesheet/menu.css">		
    </head>
    <body>
        <%- include('partials/headerConnected') %>
        <main>
            <h1> Vos groupes : </h1>
            <tr>
                <td>
                    Nom du groupe
                </td>
            </tr>
        </br>
            <% for(var i = 0;i<groups.length;i++) { %>
                <tr>
                        <td>
                            <%= groups[i].name %>
                        </td>
                        <td>
                            <a href="/group/<%= groups[i]._id %>"> Plus d'informations ici </a>
                        </td>
                    </tr>
                    </br>
            <% } %>
                </br>
                <form method="POST" action="/createGroup">
                    <input type="submit" value="Ajouter un groupe"
                </form>
        </main>
    </body>
    <%- include('partials/footer') %>
</html>
