<!DOCTYPE hyml>
<html>
    <head>
        <meta charset="utf-8" />
        <title> fananf - index </title>
        <link rel="stylesheet" href="/style/general.css">
		<link rel="stylesheet" href="/style/menu.css">	
    </head>
    <body>
            <header role="banner"> 
                    <nav role="navigation" ara-label="Menu principal">
                        <ul class="menu">
                            <div class="dropdown">
                                <li>
                                    <a class="droplist" href="/" aria-current="page">Acceuil</a>
                                </li>
                            </div>
                            <div class="dropdown">
                                <li>
                                    <a class="droplist" href="/connect"> Se connecter </a>
                                </li>
                            </div>
                            <div class="dropdown">
                                <li>
                                    <a class="droplist" href="/register"> S'enregistrer</a>
                                </li>
                            </div>
                        </ul>		
                    </nav>
                    </header>
                    
                    <main>
                        <% if (lastAction.status === 'success') { %>
                            <div class="succes" > <%= lastAction.msg %> </div>
                        <% }%>
                        <h1>Bienvenue sur l'application de transcription automatique de vidéos pour le projet fananf !</h1>
                    </main>  
    </body>
</html>
