<!DOCTYPE hyml>
<html>
    <head>
        <meta charset="utf-8" />
        <title> fananf - index </title>
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/menu.css">	
    </head>
    <body>
        <%- include('partials/headerDisconnected') %>
                    
            <main>
                <% if (lastAction.status === 'success') { %>
                    <div class="succes" > <%= lastAction.msg %> </div>
                <% }%>
                <h1>Bienvenue sur l'application de transcription automatique de vidéos pour le projet fananf !</h1>
            </main>  
    </body>
    <%- include('partials/footer') %>
</html>
