<!DOCTYPE hyml>
<html>
    <head>
        <meta charset="utf-8" />
        <title> fananf - menu </title>
        <%- include('partials/css.ejs) %>	
    </head>
    <body>
            <%- include('partials/headerConnected') %>
            <% if (lastAction.status === 'success') { %>
                <div class="succes" > <%= lastAction.msg %> </div>
            <% }%>
            <main>
                <h1>Bienvenue sur l'application de transcription automatique de vidéos pour le projet fananf !</h1>
            </main>  
    </body>
    <%- include('partials/footer') %>
</html>
