<!DOCTYPE hyml>
<html>
    <head>
        <meta charset="utf-8" />
        <title> fananf - vos transcriptions </title>
        <link rel="stylesheet" href="/style/general.css">
		<link rel="stylesheet" href="/style/menu.css">	
    </head>
    <body>
        <%- include('partials/headerConnected') %>
        <h2>Ajouter une liste</h2>
        <form method="POST" action="/todo/addList">
            <input type="text" name="listeAAjouter" required=""/>
            <input type="submit" value="valider"/>
        </form>
    </body>
    <%- include('partials/footer') %>
</html>
