<!DOCTYPE hyml>
<html>
    <head>
        <meta charset="utf-8" />
        <title> fananf - vos transcriptions </title>
        <link rel="stylesheet" href="/style/general.css">
		<link rel="stylesheet" href="/style/menu.css">	
    </head>
    <body>
        <%- include('partials/headerConnected') %>
        <h2>Liste des transcriptions auxquelles vous avez accès</h2>
        
        <% transcriptions.forEach(function(transcription,index) { %>
            <tr>
                <td>
                    <%= transcription.name %> </a>
                </td>
                <td>
                    <% if (transcription.status) { %>
                        <td>
                            Done
                        </td>
                    <% } else { %>
                        <td>
                            OnGoing
                        </td>
                    <% } %>
                </td>
                <% if (transcription.status) { %>
                    <td>
                        <a href="/transcription/<%=transcription._id%>"> Consulter </a>
                    </td>
                <% } %>
            </tr>
        <% }) %>

    </body>
    <%- include('partials/footer') %>
</html>
