<!DOCTYPE hyml>
<html>
    <head>
        <meta charset="utf-8" />
        <title> fananf - utilisateurs </title>
        <link rel="stylesheet" href="/style/general.css">
		<link rel="stylesheet" href="/style/menu.css">	
    </head>
    <body>
            <header role="banner"> 
                    <nav role="navigation" ara-label="Menu principal">
                            <ul class="menu">
                                <div class="dropdown">
                                    <li>
                                        <a class="droplist" href="/home " aria-current="page">Acceuil</a>
                                    </li>
                                </div>
                                <div class="dropdown">
                                    <li>
                                        <a class="droplist" href="/transcriptions"> Mes transcriptions </a>
                                        <ul class="submenu" id="submenu">
                                            <li><a href="/transcriptions/new">Nouvelle transcription</a></li>
                                        </ul>
                                    </li>
                                </div>
                                <div class="dropdown">
                                        <li>
                                            <a class="droplist" href="/users"> Les utilisateurs </a>
                                            <ul class="submenu" id="submenu">
                                                    <li><a href="/user">Mes infos</a></li>
                                                </ul>
                                        </li>
                                    </div>
                                <div class="dropdown">
                                    <li>
                                        <a class="droplist" href="/logout"> Se deconnecter</a>
                                    </li>
                                </div>
                            </ul>		
                        </nav>
            </header>
        <main>
            <h1> Utilisateurs : </h1>
            <tr>
                <td>
                    Nom
                </td>
                <td>
                    Prenom
                </td>
            </tr>
        </br>
            <% if (users.length>0) {
                users.forEach(function(user,index) { %>
                <tr>
                    <td>
                        <%= user.nom %>
                    </td>
                    <td>
                        <%= user.prenom %>
                    </td>
                    <td>
                        <a href="/user/<%=user._id%>"> Plus d'infos </a>
                    </td>
                </tr>
            </br>
            <% }); 
            } %>
        </main>
    </body>
</html>
